:root {
    --custom-black: #000000;
    --custom-black-bg: #19191b;
    --custom-pink: #f3115b;
    --custom-white: #ffffff;
    --custom-yellow: #ffd200;
    --custom-blue: #1e90ff;
    --custom-blue-light: #3898fc;
    --custom-blue-lighter: #69b3fc;
    --custom-blue-dark: #024fe9;
    --custom-pink-transparent: #f3115b; /*Opacity: 15%*/
    --custom-pink-light: #ff3e80;
    --custom-pink-lighter: #f988ad;
    --custom-grey: #c4c4c4;
    --custom-grey-font: #9e9e9e;
    --custom-grey-transparent: #fffced; /*Opacity: 18%*/
    --custom-grey-font-dark: #404040;
    --button-font-size: 18.68px;
    --small-paragraph-size: 18px;
    --big-paragraph-size: 24px;
    --line-height-1: 29.78px;
    --line-height-2: 24.04px;
    --line-height-3: 20px;
}

@font-face {
    font-family: Gilroy;
    src: url('gilroy-font/Gilroy-Light.otf');
    letter-spacing: normal;
}

@font-face {
    font-family: GilroyBold;
    src: url('gilroy-font/Gilroy-ExtraBold.otf');
}

*, * * {
    box-sizing: border-box;
    margin: 0;
}

#social-icons #behance-icon {
    width: 36px;
}

.bg-pink {
    background-color: var(--custom-pink);
}

body {
    font-size: normal;
    font-family: Gilroy;
}

.call-to-action {
    border: none;
    border-radius: 1px;
    width: 129px;
    height: 50px;
    font-size: 1em;
}

.column {
    display: flex;
    flex-direction: column;
}

.icon-button {
    width: 129px;
    height: 50px;
    display: grid;
    align-content: center;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    direction: row;
    justify-content: space-between;
    padding: 5vw;
}

#nav-button-rack {
    margin-right: 5vw;
}

.row {
    display: flex;
    flex-direction: row;
}

#section-branding-projects {
    background-color: var(--custom-black-bg);
}

#section-clients {
    background-color: var(--custom-black-bg);
}

.section-header {
    font-size: 280px;
    font-weight: 800;
    letter-spacing: -0.1em;
    line-height: 343px;
}

#section-hero {
    background-color: var(--custom-black);
    color: var(--custom-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    padding-top: 299px;
}

#section-hire {
    background-color: var(--custom-black-bg);
}

#section-news {
    background-color: var(--custom-yellow);
}

#section-work {
    background-color: var(--custom-blue);
}

#slogan {
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
}

#social-icons {
    position: absolute;
    left: 5vw;
    top: 61vh;
    align-items: center;
    justify-content: space-between;
}

#social-icons img {
    width: 20px;
    margin-top: 20px;
}

span.blue-letter {
    color: var(--custom-blue);
}

span.pink-letter {
    color: var(--custom-pink);
}

span.yellow-letter {
    color: var(--custom-yellow);
}

.text-white {
    color: var(--custom-white)
}

#welcome-to {
    position: relative;
    right: 20vw;
    top: 10vh;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.78px;
}