:root {
    --custom-black: #000000;
    --custom-black-bg: #19191b;
    --custom-pink: #f3115b;
    --custom-white: #ffffff;
    --custom-yellow: #ffd200;
    --custom-yellow-text: #ffe500;
    --custom-blue: #1e90ff;
    --custom-blue-light: #3898fc;
    --custom-blue-lighter: #69b3fc;
    --custom-blue-dark: #024fe9;
    --custom-pink-transparent: #f3115b; /*Opacity: 15%*/
    --custom-pink-light: #ff3e80;
    --custom-pink-lighter: #f988ad;
    --custom-grey: #c4c4c4;
    --custom-grey-font: #9e9e9e;
    --custom-grey-transparent: #fffced; /*Opacity: 18%*/
    --custom-grey-font-dark: #404040;
    --button-font-size: 18.68px;
    --small-paragraph-size: 18px;
    --big-paragraph-size: 24px;
    --line-height-1: 29.78px;
    --line-height-2: 24.04px;
    --line-height-3: 20px;
}

@font-face {
    font-family: Gilroy;
    src: url('gilroy-font/Gilroy-Light.otf');
    letter-spacing: normal;
}

@font-face {
    font-family: GilroyBold;
    src: url('gilroy-font/Gilroy-ExtraBold.otf');
}

*, * * {
    box-sizing: border-box;
    margin: 0;
}

#all-work-button {
    width: 25vw;
    height: 102px;
    background-color: var(--custom-pink );
    color: var(--custom-white);
    font-size: 19px;
    font-weight: 400;
    align-items: center;
    padding-left: 37px;
}

#all-work-button img {
    padding-left: 29px;
}

.bg-pink {
    background-color: var(--custom-pink);
}

#blue-bar {
    width: 50vw;
    height: 65px;
    background-color: var(--custom-blue-lighter);
}

body {
    font-size: normal;
    font-family: Gilroy;
}

#branding-button-row {
    align-self: flex-end;
    justify-self: flex-end;
    position: relative;
    bottom: 50px;
    margin-right: 50px;
}

#branding-column {
    align-items: center;
    justify-content: space-between;
}

#branding-projects {
    width: 50%;
}

#branding-subtitle {
    color: var(--custom-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

#branding-title {
    color: var(--custom-white);
    font-size: 24px;
    font-weight: 400;
    line-height: 22.02px;
    margin-bottom: 17px;
}

#button-row {
    align-self: flex-start;
    padding-left: 6.63px;
}

.call-to-action {
    border: none;
    border-radius: 1px;
    width: 129px;
    height: 50px;
    font-size: 1em;
}

#case-studies-container {
    width: 50vw;
    height: 660px;
    background-color: var(--custom-yellow);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    padding-left: 25vw;
    padding-top: 87px;
    padding-right: 91px;
}

#case-studies-subtitle {
    color: var(--custom-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin-top: 20px;
}

#case-studies-title {
    color: var(--custom-black);
    font-size: 24px;
    font-weight: 400;
    line-height: 27.22px;
}

.column {
    display: flex;
    flex-direction: column;
}

#dropdown-icon-section {
    margin-top: 185px;
}

#food-campaign-div {
    background: url("images/food-campaign-img.svg");
}

#grey-oval {
    position: absolute;
    left: 0;
    bottom: -250px;
    background: url("images/grey-oval.svg");
    background-repeat: no-repeat;
    width: 850px;
    height: 850px;
    z-index: 0;
    filter: opacity(1);
}

#hero-header {
    letter-spacing: -0.1em;
}

.icon-button {
    width: 129px;
    height: 50px;
    display: grid;
    align-content: center;
}

img {
    margin: 0;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    direction: row;
    justify-content: space-between;
    padding: 5vw;
}

#nav-button-rack {
    margin-right: 5vw;
}

#news-header {
    width: fit-content;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

#next-header {
    color: var(--custom-white);
    opacity: 0.5;
    margin-top: 0;
    position: relative;
    bottom: 150px;
}

#next-image {
    padding: 20px 30px;
    background-color: var(--custom-blue-lighter);
}

#next-brand-button {
    padding: 20px 32px;
    background-color: var(--custom-blue-light);
}

#our-values {
    position: absolute;
    left: 75vw;
    bottom: 409px;
    padding-right: 5vw;
    text-overflow: clip;
    text-align: start;
}

#our-values-subtitle {
    font-size: 18px;
    font-weight: 400;
}

#our-values-title {
    font-size: 24px;
    font-weight: 400;
    line-height: var(--line-height-2);
    padding-bottom: 18px;
    color: var(--custom-yellow-text);
}

.page-section {
    position: relative;
    width: 100vw;
}

#prev-brand-button {
    padding: 20px 32px;
}

#prev-image {
    padding: 20px 32px;
    background-color: var(--custom-white);
}

#project-images-box {
    display: grid;
    grid-template-columns: 50% 50%;
}

.row {
    display: flex;
    flex-direction: row;
}

#row-boxes {
    margin-top: 94px;
    align-items: flex-end;
}

#section-branding-projects {
    background-color: var(--custom-black);
    padding: 256px 150px;
}

#section-branding-projects img{
    z-index: 0;
}

#section-clients {
    background-color: var(--custom-black-bg);
}

.section-header {
    font-family: GilroyBold;
    font-size: 280px;
    font-weight: 800;
    line-height: 343px;
}

#section-hero {
    background-color: var(--custom-black);
    color: var(--custom-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 299px;
    text-align: center;
}

#section-hire {
    background-color: var(--custom-black-bg);
}

#section-news {
    background-color: var(--custom-yellow);
    padding-top: 67px;
}

#section-work {
    background-color: var(--custom-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

#section-work * {
    z-index: 1;
}

#see-more-text {
    padding-top: 26px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 100vw;
}

#slogan {
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
}

#social-icons {
    position: absolute;
    left: 5vw;
    top: 61vh;
    align-items: center;
    justify-content: space-between;
}

#social-icons #behance-icon {
    width: 36px;
}

#social-icons img {
    width: 20px;
    margin-top: 20px;
}

#social-meetup-div {
    background: url("images/social-meetup-img.svg");
}

span.blue-letter {
    color: var(--custom-blue);
}

span.pink-letter {
    color: var(--custom-pink);
}

span.yellow-letter {
    color: var(--custom-yellow);
}

.text-white {
    color: var(--custom-white)
}

#virtual-sports-div {
    background: url("images/virtual-sports-img.svg");
}

#yellow-box {
    width: 50vw;
    height: 300px;
    background-color: var(--custom-yellow);
}

#welcome-to {
    position: relative;
    right: 20vw;
    top: 10vh;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.78px;
}

#work-header {
    color: var(--custom-white);
    z-index: 2;
    position: relative;
    right: 8vw;
}

.work-tile {
    width: 25vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 48px 32px;
}

#work-tile-row {
    align-items: flex-end;
    margin-top: 1px;
}

.work-tile-subtitle {
    color: var(--custom-white);
    font-size: 16px;
    font-weight: 400;
}

.work-tile-title {
    color: var(--custom-white);
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 15px;
}