:root {
    --custom-black: #000000;
    --custom-black-bg: #19191b;
    --custom-pink: #f3115b;
    --custom-white: #ffffff;
    --custom-yellow: #ffd200;
    --custom-blue: #1e90ff;
    --custom-blue-dark: #024fe9;
    --custom-pink-transparent: #f3115b; /*Opacity: 15%*/
    --custom-pink-light: #ff3e80;
    --custom-pink-lighter: #f988ad;
    --custom-grey: #c4c4c4;
    --custom-grey-font: #9e9e9e;
    --custom-grey-transparent: #fffced; /*Opacity: 18%*/
    --custom-grey-font-dark: #404040;
}

*, * * {
    box-sizing: border-box;
    margin: 0;
}

.bg-pink {
    background-color: var(--custom-pink);
}

body {
    font-size: normal;
    /*
    font-family: Gilroy;
    I need to add this font as a web font from fonts.google.com
    */
}

.call-to-action {
    border: none;
    width: 129px;
    height: 50px;
    font-size: 1em;
}

.column {
    display: flex;
    flex-direction: column;
}

#hero-section {
    background-color: var(--custom-black);
    color: var(--custom-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    padding-top: 50vh;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    direction: row;
    justify-content: space-between;
    padding: 5vw;
}

#page-header {
    font-size: 10em;
}

#social-icons {
    position: absolute;
    left: 5vw;
    top: 50vh;
}

span.blue-letter {
    color: var(--custom-blue);
}

span.pink-letter {
    color: var(--custom-pink);
}

span.yellow-letter {
    color: var(--custom-yellow);
}

.text-white {
    color: var(--custom-white)
}